* {
    font-family: Lato, sans-serif;
    color: rgb(0, 10, 2);
}
body {
    background-color: rgb(215, 254, 255);
    width: 95%;
    margin: auto;
    margin-top: 20px;
}
header {
    background-color: rgb(157, 235, 238);
    border-radius: 25px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    height: 126px;
    overflow: auto;
    text-align: center;
}
#source {
    right: 40px;
    bottom: 40px;
    height: auto;
}
#source h1 {
    padding: 15px 0;
}
@media only screen and (max-width: 940px) {
    #source {
        display: none;
    }
}
header p {
    margin-bottom: 20px;
}
#source a {
    border-radius: 5px;
}
#source a, p a {
    color: rgb(16, 31, 245);
}
#source a:hover, p a:hover {
    background-color: rgb(179, 234, 236);
    border-radius: 5px;
}
main {
    top: 206px;
    position: relative;
}
#gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
}
.card {
    width: 300px;
    height: 300px;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.card:hover {
    background-color: rgb(179, 234, 236);
}
a {
    text-decoration: none;
}
img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}
.card p {
    text-align: center;
}
iframe {
    width: 95%;
    height: 700px;
}