* {
    font-family: "Roboto Slab";
    color: rgb(58,32,0);
}
body {
    background-color: rgb(252, 250, 217);
}
h1 {
    font-family: "Patua One";
}
h1, h2, h3 {
    text-align: center
}
#headimg {
    display: flex;
    width: 100%;
    justify-content: center;
}
img {
    flex-basis: 500px;
    object-fit: cover;
}
#img1 {
    border-radius: 25px 0 0 25px;
}
#img2 {
    border-radius: 0 25px 25px 0;
}
@media only screen and (max-width: 800px) {
    #headimg {
        display: block;
    }
    img {
        display: block;
        width: 100%;
        max-height: 250px;
    }
    #img1 {
        border-radius: 25px 25px 0 0;
    }
    #img2 {
        border-radius: 0 0 25px 25px;
    }
}
@media only screen and (max-height: 335px), (max-width: 590px) {
    #headimg {
        display: none;
    }
}
@media only screen and (min-width: 800px) {
    p {
        width: 50%;
        margin: auto;
    }
}