* {
    font-family: "Open Sans";
}
::selection {
    background-color: red;
}
body {
    background-color: rgb(18, 20, 36);
    color: rgb(227, 240, 255);
}
img, nav {
    display: inline-block;
}
header img {
    margin: 15px;
}
nav {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}
nav ul {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline-block;
}
nav a, footer a, .notlink {
    color: white;
    text-decoration: none;
    font-family: Oswald;
    font-size: 24px;
}
nav a:hover, footer a:hover {
    color: rgb(196, 196, 196);
}
/* dividers inbetween navlinks 👇*/
nav a.notlast::after, footer a.notlast::after, .notlink::after {
    content: " |";
    color: white;
}
h3 {
    text-align: center;
    font-size: 40px;
}
#imgcontainer {
    width: 75%;
    margin: auto;
}
main img {
    width: 100%;
}
footer {
    text-align: center;
}
.notlink:hover {
    color: white !important;
}