.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game{
    border: 2px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
}

#skynet-banner {
    margin-top: -5px;
    height: 50px;
    width: inherit;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 50px;
}

p {
    margin: 20px auto 0;
    width: 500px;
}

#homelink {
    position: sticky;
    top: 10px;
}